* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.nav-buttons {
  margin-left: 50%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
h5 {
  font-size: 1rem;
  font-weight: 300;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: white;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  color: #18db0b;
}

@media only screen and (max-width:990px) {

  .nav-buttons {
    margin: 10px;
  }

  .nav-buttons ul {
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .nav-buttons ul .fa-solid {
    margin: 20px 5px 10px 20px;
  }
}

.navbar {
  font-size: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 0;
  left: 0;
}

.navbar .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.4 ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar .navbar-nav .nav-link.active,
.navbar i.active {
  color: #18db0b;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  cursor: pointer;
  margin-left: 5px;
}

#home {
  background-image: url("./diplom2024-main/assets/img/C4BC5075-D649-4502-97F1-0AD749211C89_1_201_a.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: #18db0b;
}

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}
